/* Surfplatta */

@media screen and (max-width: 800px){
    body {
        
    }
}

/* Mobiltelefon */

@media screen and (max-width: 400px){ 

    #upperheader{
        text-align: center;
        height:52px;
        z-index: 100;
    }

    #headerwrapper{
        display:inline-block;
        width: 33%;
        text-align: center;
        margin: 0 auto;
    }

    #todaycontainer{
        display: block;
        width: 33%;
        padding-top: 8px;
        font-size: 28px;
        float: left;
    }

    #today{
        display: block;
    }

    #mobilemenu{
        display: block;
        float: right;
        width: 33%;
    }
    
    #menuicon{
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
    }

    #mobilemenulist{
        position: fixed;
        background: hsl(0, 0%, 20%);
        top:0;
        right: 0;
        width: 98vw;
        height: 98vh;
        padding-top: 70px;
        margin: 0;
    }

    #mobilemenulist li{
        padding-bottom: 35px;
        list-style: none;
        font-size: 34px;
    }

    #exitmenuicon{
        width: 30px;
        height: 30px;

        position:absolute;
        top: 10px;
        right: 10px;
    }

    #menusearchtext{
        width: 85%;
        margin-left: 15px;
    }

    #menusearchbutton{
        width: 100px;
        margin: 0 auto;
    }

    #lowerheader{
        margin-bottom: 0;
        height: 58px; 
        top: 68px;
        z-index: 90;
    }

    #lowerheader nav{
        margin: 1% 0;
    }

    #lowerheader nav ul, #lowerheader nav:active ul{
        float: none;
        padding: 0;
        margin: 0;
    }

    #lowerheader nav ul li{
       text-align: center;
       padding: 3% 1%; 
       margin: 1.2%;
        width: 28%;
        font-size: 95%;
        font-style: bold;
    }

    #lowerheader nav:hover ul{
        display: block;
    }

    .tvGuide{
        margin-top: 138px;
    }

    .tvGuide #col{
        float: left;
        width: 100%;
        margin: 2% 0;
        padding: 0;

    }

    .footerSection{
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .socialmediaimg{
        margin: 0 8px 20px 8px;
    }

    .disappear{
        display: none !important;
        padding: 0;
    }
}