body{
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



#upperheader{
    background: #333333;
    margin: 0;
    padding: 8px 10px;;
    overflow:hidden;
}

#headerwrapper{
    color:white;
    text-decoration: none;
    float: left;
}

#mainicon{
    vertical-align: top;
    height: 50px;
    width: 50px;
}

#title{
    font-size: 48px;
    display: inline;
}

#greeting{
    font-size: 20px;
    display: inline;
}

#login{
    float: right;   
    margin: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: #D3D3D3;
    background: #9C2424;
}

#login:hover{
    color:white;
}

#mobilemenu{
    display:none;
}


#lowerheader{
    background: gray; 
    width: 100%; 
    overflow:hidden;
    margin: 0;
    padding: 0;
}

#lowerheader nav{
    margin: 0;
}

#lowerheader nav ul{
    list-style: none;
    padding-left:10px;
    float: left;
}

#lowerheader nav ul li{
    font-size:20px;
    display: inline-block;
    background: #333333;
    padding: 8px 14px;
    margin-right: 5px;
    border-radius: 3px;

}

#lowerheader nav ul li a{
    text-decoration: none;
    color: #D3D3D3	;
}

#lowerheader nav ul li a:hover{
    color: white;
}

.search{
    display: block;
    margin: 20px;
	text-align: right;
    float: right;
}

.search .searchText{
    display: inline;
    padding: 5px;
}

.search .searchButton{
    display: inline;
    padding: 5px;
}

footer {
    background: #333333;
    overflow:hidden;
}

footer section{
    text-align:center;
    float:left;
    width:25%;
    margin: 3%;
}

footer button{
    width:100%;
    padding:5px;
}

#contactus{
    padding: 2% 5%;
    border-radius: 3px;
    color:#D3D3D3;
    background: gray;
    text-decoration: none;
}

#contactus:hover{
    color:white;
}

.clearfix:before, .clearfix:after{
    content: "";
    display:table;
}
.clear:after{
    clear:both;
}
.clearfix{*zoom: 1;}