body{
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


a{
    text-decoration:none;
    color: #D3D3D3;
} 

a:active{
    background: #9C2424;
}

a:hover{
    color:white;
}

header{
    position:fixed;
}

#upperheader{
    background: hsl(0, 0%, 20%);
    margin: 0;
    overflow:hidden;
    height:72px;
    width:100%;
    top:0;
    left:0;
}

#headerwrapper{
    margin-top:10px;
    margin-left:10px;
    color:white;
    text-decoration: none;
    float: left;
}

#mainicon{
    vertical-align: top;
    height: 50px;
    width: 50px;
}

#upperheader #title{
    font-size: 48px;
    display: inline;
}

#greeting{
    font-size: 20px;
    display: inline;
}

#login{
    float: right;   
    margin: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    background: #9C2424;
}

#login:hover{
    color:white;
}

#mobilemenu{
    display:none;
}

#mobilemenulist{
    display: none;
}

#today{
    display: none;
}


#lowerheader{
    background: gray; 
    width: 100%; 
    overflow:hidden;
    margin: 0;
    padding: 0;

    left:0;
    top:72px;
}

#lowerheader nav{
    margin: 0;
}

#lowerheader nav ul{
    list-style: none;
    padding-left:10px;
    float: left;
}

#lowerheader nav ul li{
    font-size:20px;
    display: inline-block;
    background: #333333;
    padding: 8px 14px;
    margin-right: 5px;
    border-radius: 3px;
}


.search{
    display: block;
    margin: 20px;
	text-align: right;
    float: right;
}

.search #searchText{
    display: inline;
    padding: 5px;
    font-size: 20px;
    border:none;

}

.search #searchButton{
    float: right;
    padding: 5px;
    border:none;
}


.search #searchButton:hover{
    background: dimgray;
}

.search .searchbutton:hover{
    background: #333333;
}

#filterdaycontainer{
    margin-top: 158px;
    text-align: center;
}

.filterdaybutton{
   background: #333333;
   display: inline-block;
   width: 20%;
   height: 15%;
   font-size: 22px;
   margin: 0.5% 2%;
   border-color: gray;
   border-radius: 3px;
}

#todaybutton a{
    color: white;
}

.tvGuide{

    color: black;
    background: #FFF;
    overflow: hidden;
}

.col{
    float: left;
    text-align: left;
	padding: 0;
    margin: 1%;
    min-width: 200px;
    width: 30%;
    max-width:300px;
    border-radius: 5px;
    background: #f2f2f2;
}

.col ul{
    padding:0 1% 1% 1%;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.col ul li{
    list-style: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.col ul li p{
    display:inline-block;
    vertical-align: top;
    margin:1%;
}

.col ul .time{
    padding-left:3%;
    padding-right:5%;
    font-weight: bold;
}

#channelLogoSvt1{
    height: 50px;
    width: 70px;
	margin: 1% 0 0 1%;
}

#channelLogoTv3{
    height: 50px;
    width: 70px;
    margin: 1% 0 0 0;
    padding: 0;
}

#channelLogoKanal5{
    height: 50px;
    width: 50px;
    margin: 1% 0 0 0;
    padding: 0;
}

footer {
    background: #333333;
    overflow:auto;
}

footer section{
    text-align:center;
    float: left;
    width: 25%;
    margin: 3%;
}

footer button{
    width:100%;
    padding:5px;
}

#contactus{
    padding: 2% 5%;
    border-radius: 3px;
    background: gray;
}

.socialmediaimg{
    width: 50px;
    height: 50px;
    margin: 0 13px;
}


.clearfix:before, .clearfix:after{
    content: "";
    display:table;
}
.clear:after{
    clear:both;
}
.clearfix{*zoom: 1;}